.vscode/
__pycache__/
config/__pycache__
/uploads
app.log
/flask_session
/static/flask_session
/static/node_modules
/.vs
/static/dist
/static/benchy.gcode
/hello.sh
/static/package-lock.json
/static/tsconfig.json
/static/webpack.config.js