{% extends 'base.html' %} 

{% block title %} PrusaSlicer Automated Routing and Quoting Engine Staff Page{% endblock %}

{% block head %}
<script defer src="{{ url_for('static', filename='staff.js') }}"></script>
{% endblock %}


{% block body %}
<body onload="refreshJobs()">
<main>
  <img
    class="psu-logo"
    src="{{ url_for('static', filename='images/psu_logo.png') }}"
    alt="Portland State Logo"
    width="200px"
  />
  <div class="header-box">
    <h1 class="header-text">PrusaSlicer Automated Routing and Quoting Engine Staff Page</h1>
  </div>
  <div class="jobs-box-container">
    <section id="jobs-box">
      <h1 id ="subheader-text" class="jobs-box-header">Print jobs to be approved</h1>
      <p id="no-jobs-message">Nothing to display here!</p>
      <!-- <section id = "boxed-data">
        <h1 id ="data-formatting"> John Doe  1/1/2000  cost, size, etc.</h1>
        <button id="approve-button" onclick="approve()">Approve Job</button>
        <button id="deny-button" onclick="deny()">Deny Job</button>
      </section>
      <section id = "boxed-data">
          <h1 id ="data-formatting"> John Doe  1/2/2000  cost, size</h1>
          <button id="approve-button" onclick="approve()">Approve Job</button>
          <button id="deny-button" onclick="deny()">Deny Job</button>
      </section> -->

      <div class="reject-order-modal">
        <div class="reject-order-modal-content">
          <p>Please state why this order was not approved, your message will be relayed to the submitter via email: </p>
          <textarea placeholder="Type here.." class="reject-modal-input" id="reject-modal-input"></textarea>
          <div class="modal-button-container">
            <button class="reject-modal-button" id="reject-modal-submit-button">Submit</button>
            <button class="reject-modal-button" id="reject-modal-cancel-button">Cancel</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}