/*
Official PSU brand colors here:
https://www.pdx.edu/university-communications/tools-and-templates/brand-colors

Official PSU fonts located in fonts folder
*/

/*Fieldsets and legends are anoyying to style, but they add semantic meaning.*/
fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border: none;
  min-inline-size: min-content;
}

legend {
  font-weight:bolder;
  font-size: 1.5em;
}

@font-face {
  font-family: "Acumin-RPro";
  src: url("fonts/Acumin-RPro.otf");
}

@font-face {
  font-family: "Acumin-ECBPro";
  src: url("fonts/Acumin-ECBPro.otf");
}

@font-face {
  font-family: "Acumin-LtPro";
  src: url("fonts/Acumin-LtPro.otf");
}

@font-face {
  font-family: "Acumin-BdPro";
  src: url("fonts/Acumin-BdPro.otf");
}

@font-face {
  font-family: "Acumin-ItPro";
  src: url("fonts/Acumin-ItPro.otf");
}

@font-face {
  font-family: "Acumin-WProL";
  src: url("fonts/Acumin-WProL.otf");
}

/* Google Font */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  background-color: white;
  font-family: "Acumin-RPro";
  margin: 0;
  padding: 0;
}

.psu-logo {
  display: block;
  width: 350px;
  height: 100%;
  padding: 10px;
}

.header-box {
  display: table;
  background-color: rgba(109, 141, 36, 1); /* PSU Green */
  background-size: 100%;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header-text {
  display: table-cell;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 1.5em;
}

.order-form {
  display: block;
  width: 100%;
  max-width: 400px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.order-form .form-group {
  margin-bottom: 15px;
}

.order-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.order-form .form-group input,
.order-form .form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

.order-form .form-group input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.order-form .form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

.order-form .form-group #note {
  width: 100%;
  height: 50px;
}

.status-message-container {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 0.8em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/************** dark mode toggle code **************/

.dark-mode-toggle-container {
  width: 55px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.dark-mode-form { 
  background-color: rgb(23, 23, 23);
  color: white; 
} 

.dark-mode-body { 
  background-color: rgb(47, 47, 47);
  color: white; 
}

.dark-mode-header-box {
  background-color: rgb(0, 0, 0);
}

.dark-mode-header-text {
  color: white;
  text-shadow: none;

  /* creates a neon effect */
  /* text-shadow: 
  0 0 10px rgb(109, 141, 36),
  0 0 20px rgb(109, 141, 36), 
  0 0 30px rgb(109, 141, 36), 
  0 0 40px rgb(109, 141, 36), 
  0 0 50px rgb(109, 141, 36); */
}

.dark-mode-multi-purpose-modal {
  background-color: rgb(0, 0, 0) !important;
}

.dark-mode-review-order-modal {
  background-color: rgb(0, 0, 0) !important;
}

.dark-mode-support-recommended-modal {
  background-color: rgb(0, 0, 0) !important;
}

.mode-icon {
  display: inline-block;
}

button[id="dark-mode-toggle"] {
  border: none;
  background: none;
}

button[id="dark-mode-toggle"]:hover {
  color: rgb(161, 161, 57)!important;
}
/************** end dark mode toggle **************/

/************** review order modal code **************/

.review-order-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.review-order-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

.review-order-modal-content .modal-button-container {
  text-align: center;
}

.review-order-modal-content .review-modal-button {
  display: inline-block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.review-order-modal-content button[id="review-modal-approve-button"] {
  background-color: #0b8109;
  margin-right: 2px;
}

.review-order-modal-content button[id="review-modal-approve-button"]:hover {
  background-color: #085c07;
  margin-right: 2px;
}

.review-order-modal-content button[id="review-modal-cancel-button"] {
  background-color: #a10e0e;
  margin-left: 2px;
}

.review-order-modal-content button[id="review-modal-cancel-button"]:hover {
  background-color: #710909;
  margin-left: 2px;
}
/************** end review order modal code **************/

/************** multi-purpose modal code **************/

.multi-purpose-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.multi-purpose-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

.multi-purpose-modal-content .modal-button-container {
  text-align: center;
}

.multi-purpose-modal-content .multi-purpose-modal-button {
  display: inline-block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.multi-purpose-modal-content button[id="multi-purpose-ok-button"] {
  background-color: #007bff;
}

.multi-purpose-modal-content button[id="multi-purpose-ok-button"]:hover {
  background-color: #0056b3;
}
/************** end multi-purpose modal code **************/

/************** support recommended modal code **************/

.support-recommended-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.support-recommended-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

.support-recommended-modal-content .modal-button-container {
  text-align: center;
}

.support-recommended-modal-content .support-recommended-button {
  display: inline-block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.support-recommended-modal-content button[id="support-recommended-support-button"] {
  background-color: #0b8109;
  margin-right: 1px;
}

.support-recommended-modal-content button[id="support-recommended-support-button"]:hover {
  background-color: #085c07;
  margin-right: 1px;
}

.support-recommended-modal-content button[id="support-recommended-no-support-button"] {
  background-color: #c3d032;
  margin-left: 1px;
  margin-right: 1px;
}

.support-recommended-modal-content button[id="support-recommended-no-support-button"]:hover {
  background-color: #8b942c;
  margin-left: 1px;
  margin-right: 1px;
}

.support-recommended-modal-content button[id="support-recommended-cancel-button"] {
  background-color: #a10e0e;
  margin-left: 1px;
}

.support-recommended-modal-content button[id="support-recommended-cancel-button"]:hover {
  background-color: #710909;
  margin-left: 1px;
}
/************** end support recommended modal code **************/

/* Staff API Section */
.page-header {
  width: 100%;
  background-color: #6d810e;
  height: 38px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.psu-logo-staff {
  height: 27.14px;
  width: 160px;
  margin-left: 36px;
  margin-top: 6px;
}

.staff-header-buttons {
  display: flex;
  height: 38px;
}

.staff-header-button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Acumin-WProL";
  font-size: 0.87em;
  letter-spacing: 1.15px;
}

.staff-header-button:hover {
  background-color: #001a33;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.staff-header-box {
  background-size: 100%;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.staff-header-content {
  color: black;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 6em; 
  font-family: "Acumin-ECBPro"
}

.jobs-box-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.jobs-box-header {
  height: 25%;
  width: 100%;
  margin: 0 auto;
}

.boxed-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.jobs-box-header-content {
  color: black;
  font-size: 1.75em;
  margin: 0 auto;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Acumin-ECBPro';
}

.jobs-box-header-underline {
  height: 1px;
  background-color: #404040;
  width: 100%;
}

.staff-table {
  display: none;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  empty-cells: hide;
}

#table-price {
  width: 5%;
}

#table-email {
  width: 15%;
}

#table-filament {
  width: 10%;
}

#table-nozzle {
  width: 5%;
}

#table-layer {
  width: 5%;
}

#table-infill {
  width: 5%;
}

#table-quantity {
  width: 5%;
}

#table-note {
  width: 50%;
}

.hide {
  display: none;
}

.table-header {
  text-align: left;
  border-bottom: 1px solid #404040;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: #404040;
  font-size: 1.05em;
  font-family: 'Acumin-ItPro';
}

.table-data {
  border-bottom: 1px solid #404040;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Acumin-LtPro';
}

.boxed-data-underline {
  height: 1px;
  display: block;
  background-color: #404040;
}

#no-jobs-message {
  color: #404040;
  margin: 0;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Acumin-LtPro';
}

.first-text {
  color: #404040;
  margin: 0 auto;
  font-size: 1.05em;
  font-family: 'Acumin-ItPro';
}

.emphasis-text {
  color: #404040;
  margin: 0 auto;
  margin-left: 20px;
  font-size: 1.05em;
  font-family: 'Acumin-ItPro';
}

.staff-buttons {
  display: flex;
  width: 300px;
  height: 50px;
  margin-left: 50px;
  border: none;
}

.staff-buttons button[id='approve-button']{
  color: black;
  background-color: white;
  width: 100px;
  height: 100%;
  font-size: 1.3em;
  border: 2px solid #6d8d24;
  cursor: pointer;
  font-family: "Acumin-ECBPro";
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.3s;
}

.staff-buttons button[id='deny-button'] {
  color: black;
  background-color: white;
  width: 100px;
  height: 100%;
  font-size: 1.3em;
  border: 2px solid #a10e0e;
  cursor: pointer;
  font-family: "Acumin-ECBPro";
  margin-left: 10px;
  transition: 0.3s;
}

.staff-buttons button[id='preview-button']{
  color: black;
  background-color: white;
  width: 100px;
  height: 100%;
  font-size: 1.3em;
  border: 2px solid #008ac1;
  cursor: pointer;
  font-family: "Acumin-ECBPro";
  margin-right: 10px;
  transition: 0.3s;
}

#approve-button:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

#deny-button:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

#preview-button:hover {
  color: white;
  background-color: #008ac1;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}


.load-more-button-box {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

#load-more-button {
  color: black;
  background-color: white;
  width: 200px;
  height: 50px;
  font-size: 1.3em;
  border: 2px solid #404040;
  cursor: pointer;
  font-family: "Acumin-ECBPro";
  transition: 0.3s;
}

#load-more-button:hover {
  color: white;
  background-color: #404040;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.inventory-buttons {
  display: flex;
  width: 100%;
  height: 50px;
  border: none;
  justify-content: center;
  margin-top: 30px;
}

.inventory-buttons button[id='add-button'] {
  color: black;
  background-color: white;
  width: 100px;
  height: 100%;
  font-size: 1.3em;
  border: 2px solid #6d8d24;
  cursor: pointer;
  font-family: "Acumin-ECBPro";
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.3s;
}

#add-button:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

#filament-table-type {
  width: 30%
}

#filament-table-in-stock {
  width: 25%
}

#filament-table-colors {
  width: 50%;
}

.filament-table-buttons {
  display: flex;
  height: 50px;
  border: none;
  justify-content: center;
}

.filament-table-buttons button[id='remove-button'] {
  color: black;
  background-color: white;
  width: 100px;
  height: 100%;
  font-size: 1.3em;
  border: 2px solid #a10e0e;
  cursor: pointer;
  font-family: "Acumin-ECBPro";
  margin-left: 10px;
  transition: 0.3s;
}

#remove-button:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.in-stock-checkbox {
  height: 25px;
  width: 25px;
  margin-top: 15px;
  background-color: white;  
  cursor: pointer;
}

.in-stock-checkbox:checked {
  background-color: #007bff;
}

.color-checkbox {
  height: 25px;
  width: 25px;
  background-color: white;  
  cursor: pointer;
}

.color-checkbox:checked {
  background-color: #007bff;
}

.colors-dropdown {
  position: relative;
  width: 70%;
}

.colors-dropdown .colors-dropdown-list {
  position: absolute;
  top: 45px;
  left: 0px;
  right: 0px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
  transform-origin: 50% 0;
  transform: scale(1, 0);
  transition: transform .15s ease-in-out .15s;
  max-height: 66vh;
  overflow-y: scroll;
  z-index: 1000;
  border: 1px solid #404040;
  background-color: white;
}

.colors-dropdown .dropdown-color {
  display: flex;
  margin: 15px;
  opacity: 0;
  transition: opacity .15s ease-in-out;
  justify-content: space-between;
}

.colors-dropdown .dropdown-color-label {
}

.colors-dropdown .colors-dropdown-label {
  display: block;
  min-height: 25px;
  background: #fff;
  border: 1px solid #404040;
  padding: 10px;
  cursor: pointer;
}

.colors-dropdown .colors-dropdown-label::before {
  content: '▼';
  float: right;
}

.colors-dropdown.on .colors-dropdown-list {
  transform: scale(1, 1);
  transition-delay: 0s;
}

.colors-dropdown.on .colors-dropdown-list .dropdown-color {
  opacity: 1;
  transition-delay: .2s;
}

.colors-dropdown.on .colors-dropdown-label::before {
  content: '▲';
}

.remove-color-button {
  border: 2px solid #a10e0e;
  background-color: white;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 1em;
  font-family: "Acumin-ECBPro";
  float: right;
  height: 37.5px;
  width: 75px;
  cursor: pointer;
}

.remove-color-button:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.dropdown-buttons {
  display: flex;
  border: none;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;  
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.colors-dropdown.on .colors-dropdown-list .dropdown-buttons {
  opacity: 1;
  transition-delay: .2s;
}

.add-color-button {
  background-color: white;
  width: 75px;
  height: 37.5px;
  font-size: 1em;
  border: 2px solid #6d8d24;
  cursor: pointer;
  font-family: "Acumin-ECBPro";
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.3s;
}

.add-color-button:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.staff-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/************** reject order modal **************/

.reject-order-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  font-size: 1.15em;
  height: auto;
  text-align: center;
  font-family: "Acumin-LtPro";
}

.modal-input-error {
  animation: shake 0.2s ease-in-out 0s 2;
  background-color: #e88282;
}

.reject-order-modal-content .reject-modal-button {
  display: inline-block;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.reject-order-modal-content .reject-modal-input {
  width: 80%;
  height: 100px;
  margin-top: 10px;
  border: 1px solid #404040;
  font-size: 1em;
  resize: none;
}

.reject-order-modal-content button[id="reject-modal-submit-button"] {
  border: 2px solid #6d8d24;
  background-color: white;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.reject-order-modal-content button[id="reject-modal-submit-button"]:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.reject-order-modal-content button[id="reject-modal-cancel-button"] {
  border: 2px solid #a10e0e;
  background-color: white;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.reject-order-modal-content button[id="reject-modal-cancel-button"]:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}


/************** end reject order modal **************/

/************** delete filament modal **************/

.delete-filament-modal-content {
  background-color: #fefefe;
  margin: 300px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: auto;
  text-align: center;
  font-family: "Acumin-LtPro";
}

.delete-filament-modal-content .delete-filament-modal-button {
  display: inline-block;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.delete-filament-modal-content button[id="delete-filament-modal-submit-button"] {
  border: 2px solid #6d8d24;
  background-color: white;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.delete-filament-modal-content button[id="delete-filament-modal-submit-button"]:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.delete-filament-modal-content button[id="delete-filament-modal-cancel-button"] {
  border: 2px solid #a10e0e;
  background-color: white;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.delete-filament-modal-content button[id="delete-filament-modal-cancel-button"]:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

/************** end delete filament modal **************/

/************** delete color modal **************/

.delete-filament-modal-content button[id="delete-color-modal-submit-button"] {
  border: 2px solid #6d8d24;
  background-color: white;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.delete-filament-modal-content button[id="delete-color-modal-submit-button"]:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.delete-filament-modal-content button[id="delete-color-modal-cancel-button"] {
  border: 2px solid #a10e0e;
  background-color: white;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.delete-filament-modal-content button[id="delete-color-modal-cancel-button"]:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

/************** end delete color modal **************/

/************** add filament modal **************/

.add-filament-modal-content {
  background-color: #fefefe;
  margin: 300px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: auto;
  text-align: center;
  font-family: "Acumin-LtPro";
}

.add-filament-modal-content .add-filament-modal-label {
  font-family: 'Acumin-ItPro';
  margin-right: 20px;
  margin-top: 20px;
}

.add-filament-modal-content .add-filament-modal-input-container {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #404040;
  font-size: 1.05em;
  display: flex;
  flex-direction: row;
}

.add-filament-modal-content .add-filament-modal-checkbox-container {
  color: #404040;
  font-size: 1.05em;
  height: 25px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-filament-modal-content .add-filament-modal-button {
  display: inline-block;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.add-filament-modal-content .add-filament-modal-input {
  margin-top: 15px;
  border: 1px solid #404040;
  font-size: 1em;
  width: 250px;
}

.add-filament-modal-content button[id="add-filament-modal-submit-button"] {
  border: 2px solid #6d8d24;
  background-color: white;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.add-filament-modal-content button[id="add-filament-modal-submit-button"]:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.add-filament-modal-content button[id="add-filament-modal-cancel-button"] {
  border: 2px solid #a10e0e;
  background-color: white;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.add-filament-modal-content button[id="add-filament-modal-cancel-button"]:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

/************** end add filament modal **************/

/************** add color modal **************/

.add-filament-modal-content button[id="add-color-modal-submit-button"] {
  border: 2px solid #6d8d24;
  background-color: white;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.add-filament-modal-content button[id="add-color-modal-submit-button"]:hover {
  color: white;
  background-color: #6d8d24;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

.add-filament-modal-content button[id="add-color-modal-cancel-button"] {
  border: 2px solid #a10e0e;
  background-color: white;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.add-filament-modal-content button[id="add-color-modal-cancel-button"]:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

/************** end add color modal **************/

/************** gcode preview modal **************/

.gcode-preview-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.gcode-preview-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  font-size: 1.15em;
  height: auto;
  text-align: center;
  font-family: "Acumin-LtPro";
}


.gcode-preview-modal-content .preview-canvas {
  width: 700px ; 
  height: 300px;
}

.gcode-preview-modal-content .preview-close-button{
  display: inline-block;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.gcode-preview-modal-content button[id="preview-close-button"] {
  border: 2px solid #a10e0e;
  background-color: white;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: "Acumin-ECBPro";
}

.gcode-preview-modal-content button[id="preview-close-button"]:hover {
  color: white;
  background-color: #a10e0e;
  text-decoration: underline;
  text-underline-offset: -1%;
  text-decoration-thickness: 1px;
}

/************** end gcode preview modal **************/


@media (min-width: 768px) and (max-width: 1023px) {
  .header-text {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .header-text {
    font-size: 2.5em;
  }
}

@media (min-width: 1400px) {
  .header-text {
    font-size: 3em;
  }
}
