{% extends "base.html" %}

{% block title %}
Order Confirmed
{% endblock %}

{% block head %}
<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    font-family: 'Acumin-ECBPro';
  }
  
  header {
    font-size: 96px;
    margin-bottom: 0;
    line-height: 1; 
  }

  .psu-logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: auto;
  }

  p {
    font-size: 36px;
  }

</style>
{% endblock %}

{% block body %}
<img
  class="psu-logo"
  src="{{ url_for('static', filename='images/psu_logo.png') }}"
  alt="Portland State Logo"
/>

<main>
  <header>
    <h1>Order Confirmed</h1>
    <p>You will be emailed when your order is approved.</p>
  </header>
</main>
{% endblock %}
