<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ title | default("PrusaSlicer Automated Routing and Quoting Engine Staff Page") }}
    </title>
    <link 
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />


    <script type="module" src="{{ url_for('static', filename='/dist/main.bundle.js') }}"></script>
    <object src="{{ url_for('static', filename='benchy.gcode') }}"></object>
  </head>
  <body>
    <main>
      <img
        class="psu-logo"
        src="{{ url_for('static', filename='images/psu_logo.png') }}"
        alt="Portland State Logo"
        width="200px"
      />
      <div class="header-box">
        <h1 class="header-text">
          {{ page_title | default("PrusaSlicer Automated Routing and Quoting
          Engine Staff Page") }}
        </h1>
      </div>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
