@font-face {
  font-family: 'Acumin-RPro';
  src: url('/userAPI/fonts/Acumin-RPro.otf');
}

body {
  background-color:white;
  font-family: 'Acumin-RPro';
  margin: 0;
  padding: 0;
}

#header-box {
  display: table;
  background-color: rgba(84, 136, 42, 0.8);
  background-size: 100%;
  width: 100%;
  height: 200px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

#header-text {
  display: table-cell;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 1.5em;
}

#upload-box {
  border: 1px solid black;
  background-color: rgb(219, 219, 219);
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding-bottom: 20px;
  border-radius: 5px;
}

#upload-instructions {
  text-align: left;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

#upload-form {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {

  #header-text {
    font-size: 2em;
  }

}

@media (min-width: 1024px) {

  #header-text {
    font-size: 2.5em;
  }

}

@media (min-width: 1400px) {

  #header-text {
    font-size: 3em;
  }

}