{% extends 'staffBase.html' %} {% block content %}
<div class="jobs-box-container">
  <section id="jobs-box">
    <h1 id ="subheader-text" class="jobs-box-header">Print jobs to be approved</h1>
    <p id="no-jobs-message">Nothing to display here!</p>
    <!-- <section id = "boxed-data">
      <h1 id ="data-formatting"> John Doe  1/1/2000  cost, size, etc.</h1>
      <button id="approve-button" onclick="approve()">Approve Job</button>
      <button id="deny-button" onclick="deny()">Deny Job</button>
    </section>
    <section id = "boxed-data">
        <h1 id ="data-formatting"> John Doe  1/2/2000  cost, size</h1>
        <button id="approve-button" onclick="approve()">Approve Job</button>
        <button id="deny-button" onclick="deny()">Deny Job</button>
    </section> -->
  </section>
</div>
{% endblock %}