{% extends 'base.html' %} 

{% block title %} PrusaSlicer Automated Routing and Quoting Engine{% endblock %}

{% block head %}
<script defer src="{{ url_for('static', filename='user.js') }}"></script>
{% endblock %}

{% block body %}
<main>
  <img
    class="psu-logo"
    src="{{ url_for('static', filename='images/psu_logo.png') }}"
    dark-src="{{ url_for('static', filename='images/psu_logo_dark.png') }}"
    light-src="{{ url_for('static', filename='images/psu_logo.png') }}"
    alt="Portland State Logo"
    height="300px"
  />
  <div class="dark-mode-toggle-container">
    <div class="mode-icon">
      <button id="dark-mode-toggle" type="button">
        <span class="material-symbols-outlined">light_mode</span>
      </button>
    </div>
  </div>
  <div class="header-box">
    <h1 class="header-text">
      PrusaSlicer Automated Routing and Quoting Engine
    </h1>
  </div>
 
  <form class="order-form">

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
      </div>
      
      <div class="form-group">
        <label for="file">File: (.stl, .stp, .step, .3mf)</label>
        <input type="file" id="file-input" accept=".stl, .stp, .step, .3mf" class="file-input" />
      </div>

    <fieldset>
      <legend>Configuration</legend>
      <div class="form-group">
        <label for="filament-type">Filament Type:</label>
        <select id="filament-type" name="filament-type">
          <option value="PLA - Black" selected>PLA - Black</option>
          <option value="PLA - Red">PLA - Red</option>
          <option value="PLA - Blue">PLA - Blue</option>
          <option value="PLA - Green">PLA - Green</option>
          <option value="PLA - Yellow">PLA - Yellow</option>
          <option value="PETG - Red">PETG - Red</option>
          <option value="PETG - Purple">PETG - Purple</option>
          <option value="PETG - Pink">PETG - Pink</option>
          <option value="PETG - White">PETG - White</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nozzle-width">Nozzle Size: (mm)</label>
        <select id="nozzle-width" name="nozzle-width">
          <option value="0.4" selected>0.4</option>
          <option value="0.6">0.6</option>
        </select>
      </div>
      <div class="form-group">
        <label for="layer-height">Layer Height: (mm)</label>
        <select id="layer-height" name="layer-height"></select>
      </div>
      <div class="form-group">
        <label for="infill">Infill Density:</label>
        <select id="infill" name="infill">
          <option value="0">0%</option>
          <option value="5">5%</option>
          <option value="10">10%</option>
          <option value="15">15%</option>
          <option value="20" selected>20%</option>
          <option value="25">25%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
          <option value="50">50%</option>
          <option value="60">60%</option>
          <option value="70">70%</option>
          <option value="80">80%</option>
          <option value="90">90%</option>
          <option value="100">100%</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" max="20">
    </div>
    </fieldset>

    <div class="form-group">
      <label for="note">Note:</label>
      <textarea id="note" name="note" placeholder="Is there anything important you need to tell us about this print?"></textarea>
    </div>
    
    <div class="form-group">
      <input type="submit" id="submit-button" value="Submit" />
    </div>
  </form>

  <!-- Review Order Modal -->
  <div class="review-order-modal">
    <div class="review-order-modal-content">
      <p class="order-review"></p>
      <!-- <p class="file-review"></p>
      <p class="nozzle-review"></p>
      <p class="layer-review"></p>
      <p class="infill-review"></p>
      <p class="quantity-review"></p>
      <p class="note-review"></p> -->

      <p>Press Submit button to submit order for admin review, or Cancel to cancel</p>
      <div class="modal-button-container">
        <button class="review-modal-button" id="review-modal-approve-button">Submit</button>
        <button class="review-modal-button" id="review-modal-cancel-button">Cancel</button>
    </div>
    </div>
  </div>

  <!-- Multi-Purpose Modal -->
  <div class="multi-purpose-modal">
    <div class="multi-purpose-modal-content">
      <p id="line1"></p>
      <p id="line2"></p>
      <div class="modal-button-container">
        <button class="multi-purpose-modal-button" id="multi-purpose-ok-button">Ok</button>
    </div>
    </div>
  </div>

  <!-- Support Recommended Modal -->
  <!-- <div class="support-recommended-modal">
    <div class="support-recommended-modal-content">
      <p>PrusaSlicer recommends this model prints with supports active!</p>
      <p>Failure to add supports may cause issues with your print!</p>
      <p id="support-modal-string"></p>
      <p id="no-support-modal-string"></p>
      <div class="modal-button-container">
        <button class="support-recommended-button" id="support-recommended-support-button">Add Supports</button>
        <button class="support-recommended-button" id="support-recommended-no-support-button">No Supports</button>
        <button class="support-recommended-button" id="support-recommended-cancel-button">Cancel</button>
    </div>
    </div>
  </div> -->

</main>

{% endblock %}